<button (click)="getUser(1)">get user</button>
<p>user : </p>
<div *ngIf="user">
    <div>nom : {{user.nom}} </div>
    <div>prenom : {{user.prenom}} </div>
</div>
<div *ngIf="!user">
    <div>No user :) </div>
</div>